<pre></pre>

<div *ngIf="domain"  class="example-container mat-elevation-z8">

      <table id="skills">
        <tr>
          <th><button (click)="openDialog()" matTooltip="Ajouter une compétence de votre choix" mat-raised-button color="primary">J'ai une autre compétence dans ce domaine</button>
          </th>
          <th>0
          <p>Pas de connaissances <mat-icon matTooltip="Pas de connaissances ">info</mat-icon></p>
          </th>
          <th  >1
            <p>Quelques connaissances <mat-icon matTooltip="La mise en œuvre de la compétence n'est pas intuitive pour le collaborateur. Il lui est parfois nécessaire de revenir sur la théorie, sur le mode d'emploi ou de faire appel à un référent. ">info</mat-icon> </p>
          </th>
          <th >2
            <p>Bonnes connaissances  <mat-icon  matTooltip="Dans les situations standard, le collaborateur met en œuvre la compétence dans toutes ses dimensions, de façon systématique et autonome.">info</mat-icon></p>
          </th>
          <th  >3
          <p>Expert  <mat-icon matTooltip="Dans tous types de situations, le collaborateur met en œuvre la compétence de façon systématique et judicieuse. Il optimise et il est capable de former. Il est reconnu comme un référent.">info</mat-icon></p>
          </th>
        </tr >
        <tr  *ngFor="let skill of domain.skills">
          <td>{{skill.text}}</td>
          <td  *ngFor="let item of skill.tabs; let i=index"
            style="text-align:center">
            <mat-checkbox [(ngModel)]="item.val" [ngClass] = "{'my-color': item.val==true}" [disabled]="item.val==true"  (change)="updateCheckbox(skill,i)"
             ></mat-checkbox >


          </td>
        </tr>


      </table>



</div>
