#skills {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-collapse: collapse;
  width: 100%;
}
#skills td, #skills th {
  border: 1px solid #ddd;
  padding: 6px;
}
