#skills {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-collapse: collapse;
  width: 100%;
}
#skills td, #skills th {
  border: 1px solid #ddd;
  padding: 6px;
}

::ng-deep .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #ff4081;
}
