<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    FORMULAIRE - COMPETENCES I&D 2018 - en 5 minutes...
  </h1>

  <form class="example-form">
    Matricule: &nbsp;<mat-form-field style="width: 300px;" class="example-full-width">
      <input   matInput placeholder="Saisis ton matricule (Mot de passe WTR)">
    </mat-form-field>
  </form>
</div>

<mat-grid-list cols="5" rowHeight="27px">
  <mat-grid-tile *ngFor="let dom of data"
                 ><button  mat-button>{{dom.domain}}</button>
  </mat-grid-tile>

</mat-grid-list>
