<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    FORMULAIRE - COMPETENCES I&D 2018 - en 5 minutes...
  </h1>

  <form class="example-form">
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        Matricule: &nbsp;
        <mat-form-field  style="width: 300px;" class="example-full-width">
          <input maxlength="8" matInput placeholder="Saisis ton matricule (Mot de passe WTR)">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button matTooltip="Vous devez avoir parcouru tous les onglets pour sauvegarder et renseigné votre matricule " mat-raised-button color="primary">Sauvegarder</button>
      </mat-grid-tile>
    </mat-grid-list>



  </form>

</div>

<mat-grid-list cols="5" rowHeight="27px">
  <mat-grid-tile *ngFor="let dom of data"  (click)="onSelect(dom)"
                 [class.selected]="dom === selectedDomain"
                 ><button  mat-button>{{dom.domain}}</button>
  </mat-grid-tile>
</mat-grid-list>

<app-domain-detail  [domain]="selectedDomain"></app-domain-detail>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
